
<!-- <button (click)="generatePDF()">Generate PDF</button>
<button (click)="downloadPDF()">Download PDF</button> -->

<div class="container">
    <h2 class="heading">PDF Download Form</h2>
    <form [formGroup]="pdfForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="column form-group">
          <label for="displaytype">Display Type:</label>
          <select  class="form-control selectTemplate" id="displaytype" formControlName="displaytype" name="displaytype">
            <option value="inline">Same Component</option>
            <option value="popup">Pop Up</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="column form-group">
          <label for="name">Company Name:</label>
          <!-- <input type="text" class="form-control" id="name" formControlName="name" name="name"> -->
          <select  class="form-control selectTemplate" id="name" formControlName="name" name="name">
            <option value="Arch Capital">Arch Capital</option>
            <option value="Chubb">Chubb</option>
            <option value="Zenoti">Zenoti</option>
            <option value="Marken Group">Marken Group</option>
          </select>
        </div>
        <div class="column form-group">
          <label for="email" aria-placeholder="text">Time Duration:</label>
          <!-- <input type="text" class="form-control" id="placeholder1" formControlName="placeholder1" name="placeholder1"> -->
          <select  class="form-control selectTemplate" id="placeholder1" formControlName="placeholder1" name="placeholder1">
            <option value="Last Year">Last Year</option>
            <option value="Last 6 months">Last 6 months</option>
            <option value="Last 3 months">Last 3 months</option>
            <option value="Last month">Last month</option>
          </select>
        </div>
        
      </div>
      <div class="row">
        <div class="column form-group">
          <label for="phone">Business Text Area:</label>
          <input type="text" class="form-control" id="placeholder2" formControlName="placeholder2" name="placeholder2">
        </div>
        <div class="column form-group">
          <label for="templateChoosen">TemplateChoosen:</label>
          <select  class="form-control selectTemplate" id="templateChoosen" formControlName="templateChoosen" name="templateChoosen">
            <option value="template1">template1</option>
            <option value="template2">template2</option>
          </select>
        </div>
      </div>
      
      <button type="submit" [disabled]="!pdfForm.valid">Preview PDF</button>
    </form>
    <!-- <button class="btn btn-secondary" (click)="getFormData()">Get Form Data</button> -->
    <!-- <p>Form Data: {{ formValues.name }}</p>
    <p>Form Data: {{ formValues.placeholder1 }}</p>
    <p>Form Data: {{ formValues.placeholder2 }}</p>
    <p>Form Data: {{ formValues.templateChoosen }}</p> -->
  </div>
<app-pdf-preview style="display: block; overflow: auto;"
  [pdfFormValues]="formValues">
</app-pdf-preview>


