
<!-- <button (click)="generatePDF()">Generate PDF</button>
<button (click)="downloadPDF()">Download PDF</button> -->

<div class="container">
    <h2 class="heading">PDF Download Form</h2>
    <form>
      <div class="row">
        <div class="column form-group">
          <label for="name">Name:</label>
          <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formValues.name" (ngModelChange)="onChange($event)">
        </div>
        <div class="column form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" name="email" [(ngModel)]="formValues.email" (ngModelChange)="onChange($event)">
        </div>
        
      </div>
      <div class="row">
        <div class="column form-group">
          <label for="phone">Phone:</label>
          <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="formValues.phone" (ngModelChange)="onChange($event)">
        </div>
        <div class="column form-group">
          <label for="phone">TemplateChoosen:</label>
          <input type="text" class="form-control" id="templateChoosen" name="templateChoosen" [(ngModel)]="formValues.templateChoosen" (ngModelChange)="onChange($event)">
        </div>
      </div>
      
      <!-- <button class="btn btn-primary" (click)="generatePdf()">Generate PDF</button> -->
    </form>
    <!-- <button class="btn btn-secondary" (click)="getFormData()">Get Form Data</button> -->
    <p>Form Data: {{ formValues.name }}</p>
    <p>Form Data: {{ formValues.email }}</p>
    <p>Form Data: {{ formValues.phone }}</p>
    <p>Form Data: {{ formValues.templateChoosen }}</p>
  </div>
<app-pdf-preview></app-pdf-preview>


